<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<script>
		$(document)
				.ready(
						function() {
							$.ajax({
										type : 'GET',
										url : 'http://localhost:8080/MachineSetCountJson',
										dataType : 'json'
									})
									.done(
											function(res) {
											// List<List<>> [Array(4), Array(0), Array(1)] → [{machineId_1}(SQL4行), {machineId_2(SQL0行)}, {machineId_3(SQL1行)}]
											// {machineId_1{カラム1行目{0(domain)}, カラム2行目{1(domain)}, {2(domain)}, {3(domain)}}, machineId_2{}, {}, {], {}}}
												console.log(res);
											
												// 0:machineId_1{カラム1行目のdomain}, 1:machineId_2{カラム2行目のdomain}, 2:machineId_3{カラム3行目のdomain}......
												const machineId_1 = res[0];
												console.log(machineId_1);
											// machineId_1のweightBmiドメインの各変数の中身を取得できる
												const machineId_1Array = machineId_1.map(item => item.machineWeight);
												console.log(machineId_1Array);
												
												
												const machineId_2 = res[1];
												console.log(machineId_2);
												const machineId_2Array = machineId_2.map(item => item.machineWeight);
												console.log(machineId_2Array)
												
												const machineId_3 = res[2];
												console.log(machineId_3);
												const machineId_3Array = machineId_3.map(item => item.machineWeight);
												const dateArray = res.map(item => item.date);
												
												
												var ctx = document
														.getElementById("machineSetCountChart");
												new Chart(
														ctx,
														{
															// グラフの種類：折れ線グラフを指定
															type : 'line',
															data : {
																// x軸の各メモリ
																labels : dateArray, //constで指定した変数（date）
																datasets : [
																		{
																			label : 'bench press',
																			data : machineId_1Array , //constで指定した変数（machineId_1Array）
																			borderColor : "#00a960",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		},{
																			label : 'chest Press',
																			data : machineId_2Array , //constで指定した変数（machineId_2Array）
																			borderColor : "#f09199",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		},{
																			label : 'abdominal crunch',
																			data : machineId_3Array , //constで指定した変数（machineId_3Array）
																			borderColor : "#ffd900",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		}],
															},
															
															options: {
																scales:{
																	// Y軸の上がり幅、下限（初期登録+10kg）、上限（Max値+5kg）を指定
																	yAxes: [{
																		ticks: {        
																		       suggestedMax: Math.max(...machineId_1Array) + 5,
																		       suggestedMin: 0,
// 																		       stepSize: 5
																		},
																	}]
																}
															}
														});
											}).fail(function() {
										console.log('fail');
									});
						});
	</script>
</body>
</html>