<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>Insert title here</title>
</head>
<body>
	<h1>マイページ表示</h1>
	
<!-- 	体重・BMI表示 -->
	<th:block th:object="${weightBmi}">	
		<table border="1">
			<tr><th>日付</th><td>[[*{date}]]</td></tr>
			<tr><th>体重</th><td>[[*{userWeight}]]</td></tr>
			<tr><th>BMI</th><td>[[*{bmi}]]</td></tr>
			<tr><th>適正体重</th><td>[[*{healthyWeight}]]</td></tr>
		</table>
	</th:block>
	
	
	
<!-- 	体重グラフ -->
	<div class="area">
		<canvas id="weightBmiChart"></canvas>
	</div>
	
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	<script>
		$(document)
				.ready(
						function() {
							$.ajax({
										type : 'GET',
										url : 'http://localhost:8080/weightBmiJson',
										dataType : 'json'
									})
									.done(
											function(res) {
												const weightArray = res.map(item => item.userWeight);
												const bmiArray = res.map(item => item.bmi);
												const healthyWeightArray = res.map(item => item.healthyWeight)
												const dateArray = res.map(item => item.date);

												console.log(weightArray);
												var ctx = document
														.getElementById("weightBmiChart");
												new Chart(
														ctx,
														{
															// グラフの種類：折れ線グラフを指定
															type : 'line',
															data : {
																// x軸の各メモリ
																labels : dateArray, //constで指定した変数（date）
																datasets : [
																		{
																			label : '体重',
																			data : weightArray , //constで指定した変数（userWeight）
																			borderColor : "#ec4343",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		}, {
																			label : 'BMI',
																			data : bmiArray , //constで指定した変数（bmi）
																			borderColor : "rgb(54, 162, 235)",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		}, {
																			label : '適正体重',
																			data : healthyWeightArray , // constで指定した変数（healthyWeight）
																			borderColor : "#FF9900",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		}],
															},
															
															options: {
																scales:{
																	// Y軸の上がり幅、下限（初期登録+10kg）、上限（Max値+5kg）を指定
																	yAxes: [{
																		ticks: {        
																		       suggestedMax: Math.max(...weightArray) + 5,
																		       suggestedMin: bmiArray[0] - 5,
																		       stepSize: 5
																		},
																	}]
																}
															}
														});
											}).fail(function() {
										console.log('fail');
									});
						});
	</script>
	
	
	
	<!-- 	マシーングラフ -->
	<div class="area">
		<canvas id="machineSetCountChart"></canvas>
	</div>
	
	<script>
		$(document)
				.ready(
						function() {
							$.ajax({
										type : 'GET',
										url : 'http://localhost:8080/MachineSetCountJson',
										dataType : 'json'
									})
									.done(
											function(res) {
												console.log(res);
// 												const machineNameArray = res.map(item => item.machineName);
// 												const machineId1_WeightArray = res.map(item => item.machineSetCount[0][0].machineWeight);
												const machineId1_Weightjson = res[0];
												console.log(machineId1_Weightjson);
												
												const machineId1_WeightArray = machineId1_Weightjson.map(item => item.machineWeight);
												console.log(machineId1_WeightArray);
												
												
												const machineId2_WeightArray = res.map(item => item.machineSetCount[1][5]);
												const machineId3_WeightArray = res.map(item => item.machineSetCount[3][5]);
// 												const machineId4_WeightArray = res.map(item => item.machineWeight);
// 												const machineId5_WeightArray = res.map(item => item.machineWeight);
// 												const machineId6_WeightArray = res.map(item => item.machineWeight);
												const dateArray = res.map(item => item.date);
												

												console.log(machineId1_WeightArray);
												var ctx = document
														.getElementById("machineSetCountChart");
												new Chart(
														ctx,
														{
															// グラフの種類：折れ線グラフを指定
															type : 'line',
															data : {
																// x軸の各メモリ
																labels : dateArray, //constで指定した変数（date）
																datasets : [
																		{
																			label : 'bench press',
																			data : machineId1_WeightArray , //constで指定した変数（machineWeight）
																			borderColor : "#3eb370",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		},{
																			label : 'chest Press',
																			data : machineId2_WeightArray , //constで指定した変数（machineWeight）
																			borderColor : "#3eb370",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		},{
																			label : 'abdominal crunch',
																			data : machineId3_WeightArray , //constで指定した変数（machineWeight）
																			borderColor : "#3eb370",
																			backgroundColor : "#00000000",
																			lineTension : 0
																		}],
															},
															
															options: {
																scales:{
																	// Y軸の上がり幅、下限（初期登録+10kg）、上限（Max値+5kg）を指定
																	yAxes: [{
																		ticks: {        
																		       suggestedMax: Math.max(...machineId1_WeightArray) + 5,
																		       suggestedMin: 0,
// 																		       stepSize: 5
																		},
																	}]
																}
															}
														});
											}).fail(function() {
										console.log('fail');
									});
						});
	</script>
	
	

	
</body>
</html>