<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>Insert title here</title>
</head>
<body>
	<h1>マイページ表示</h1>
	
<!-- 	体重・BMI表示 -->
	<th:block th:object="${weightBmi}">	
		<table border="1">
			<tr><th>日付</th><td>[[*{date}]]</td></tr>
			<tr><th>体重</th><td>[[*{userWeight}]]</td></tr>
			<tr><th>BMI</th><td>[[*{bmi}]]</td></tr>
			<tr><th>適正体重</th><td>[[*{healthyWeight}]]</td></tr>
		</table>
	</th:block>
	
	<p>前回のトレーニング記録</p>
	<table border="1">
		<tr th:each="machineSetCount : ${beforeCount}">
			<th:block th:if="${machineSetCount != null}">
				<th>[[${machineSetCount.machineName}]]</th>
				<td>[[${machineSetCount.machineWeight}]]kg</td>
				<td>[[${machineSetCount.machineCount}]]回</td>
				<td>[[${machineSetCount.sets}]]セット</td>
			</th:block>
		</tr>
	</table>
	
	
<!-- 	体重グラフ -->
	<div class="area">
		<canvas id="weightBmiChart"></canvas>
	</div>


	<!-- 	マシーングラフ（線） -->
	<div class="area">
		<canvas id="machineSetCountLineGraph"></canvas>
	</div>
	
	
		<!-- 	マシーングラフ（丸） -->
	<div class="area">
		<canvas id="machineSetCountPieGraph"></canvas>
	</div>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-labels@1.1.0/build/chartjs-plugin-labels.min.js" 
	integrity="sha256-6ZoPHXM6Qs2Sv5ev5NvrJ0NCoZuXh1jwt50q3hNj/OY=" crossorigin="anonymous"></script>
	<script th:src="@{/js/script.js}"></script>
	

	
</body>
</html>