<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.ImageMapper">

	<!-- ユーザーの画像一覧取得 -->
	<select id="getImageByUserId" parameterType="integer"
		resultType="Image">
		SELECT * FROM image
		WHERE user_id = #{id}
	</select>

	<!-- 画像の個別取得 -->
	<!-- parameterTypeをmapに変更 -->
	<!-- dateを条件に追加 -->
	<select id="getImageByDate" resultType="Image">
		SELECT * FROM
		image WHERE
		user_id = #{id} AND date = #{date}
	</select>

	<!-- 新規登録 -->
	<insert id="add">
		INSERT INTO image
		VALUES(NULL,
		#{userId}, #{imgName},
		#{memo}, now())
	</insert>

	<!-- 削除 -->
	<delete id="delete" parameterType="integer">
		DELETE FROM image WHERE
		img_id=#{imgId}
	</delete>

	<!-- 更新 -->
	<update id="edit" parameterType="Image">
		<!-- DBカラム名 = #{Javaフィールド名} -->
		UPDATE image SET
		img_name = #{imgName},
		memo = #{memo}
		WHERE img_id =
		#{imgId}
	</update>
	<!-- 更新の際の個別取得 -->
	<select id="getImageById" parameterType="Integer"
		resultType="Image">
		SELECT * FROM image WHERE img_id = #{imgId}
	</select>

	<!-- ページャー 全体数字カウント -->
	<select id="count" resultType="long">
		SELECT count(*) FROM image
	</select>
	<!-- ページ分割 -->
	<select id="selectLimited" resultType="Image">
		SELECT * FROM image LIMIT
		#{offset}, #{limit}
	</select>
	
	<!-- 一番古い日付でuploadした画像を取得 -->
	<select id="getOldestImage" resultType="Image">
		SELECT * FROM image
		ORDER BY date ASC
		LIMIT 1
	</select>

	<!-- 一番新しい日付でuploadした画像を取得 -->
	<select id="getNewestImage" resultType="Image">
		SELECT * FROM image
		ORDER BY date DESC
		LIMIT 1
	</select>


</mapper>