<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MachineMapper">

<!-- 筋トレマシン一覧表示 -->
	<select id="selectMachine" resultType="Machine">
		SELECT * FROM machine
	</select>

<!-- 筋トレ記録全表示 -->
	<select id="selectAll" resultType="MachineSetCount">
		SELECT * FROM machine_set_count
	</select>

<!-- カレンダーから特定の日の筋トレ記録表示 -->
	<select id="selectDay" resultType="MachineSetCount" parameterType="LocalDate">
		SELECT * FROM machine_set_count WHERE date = #{date}
	</select>

<!-- Max値を取得 -->
	<select id="selectMax" resultType="MachineMaxMin" parameterType="integer">
		SELECT max(machineWeight) FROM machine_set_count WHERE machine_id = #{machineId}
	</select>

<!-- Min値を取得 -->
	<select id="selectMax" resultType="MachineMaxMin" parameterType="integer">
		SELECT min(machineWeight) FROM machine_set_count WHERE machine_id = #{machineId}
	</select>

<!-- 体重の登録 -->


<!-- BMIの登録 -->


<!-- 筋トレ記録登録 -->
	<insert id="insert" parameterType="MachineSetCount">
		INSERT INTO machine_set_count(user_id, date, machine_id, machine_count, sets)
			VALUES(#{userId},#{date},#{machineId},#{count},#{sets})
	</insert>

<!-- 筋トレ記録編集 カレンダーから日付で取得-->
	<update id="update" parameterType="MachineSetCount">
		UPDATE machine_set_count SET
			user_id = #{userId},
			date = #{date},
			machine_id = #{machineId},
			machine_count = #{count},
			sets = #{sets}
		WHERE id = #{date}
	</update>

</mapper>