<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.WeightMapper">
	

<!-- IDでweightDB、machineSetCountに記録があるか確認(データがある場合のみ表形式グラフの表示) -->
	<select id="selectCheckId" parameterType="int" resultType="WeightBmi">
		SELECT * FROM weight_bmi WHERE user_id = #{userId};
	</select>
	
<!-- 体重・BMIの登録 -->
	<insert id="insertWeightBmi">
		INSERT INTO weight_bmi
		VALUES(NULL, #{userId}, #{userWeight}, #{bmi}, #{healthyWeight}, #{beautyWeight}, #{date})
	</insert>

<!-- 前回の体重・BMI表示 -->
	<select id="selectBeforeWeightBmi" resultType="WeightBmi" parameterType="int">
		SELECT * FROM weight_bmi
		 WHERE user_id = #{userId}
		ORDER BY weight_id DESC
		LIMIT 1;
	</select>

<!-- 全ての体重・BMI表示 -->


<!-- グラフ表示 -->
	<select id="selectChart" parameterType="int" resultType="WeightBmi">

<!-- 	先頭から5つ取得 -->
	SELECT * FROM weight_bmi WHERE user_id = #{id} LIMIT 0, 5

<!-- 	全データを取得	 -->
<!-- 		SELECT * FROM weight_bmi WHERE user_id = #{id} -->

<!-- 		最新のデータ5つのみ表示 -->
<!-- 		SELECT * FROM  -->
<!-- 		(SELECT * FROM weight  -->
<!-- 			WHERE user_id = #{id} -->
<!-- 			ORDER BY weight_id DESC LIMIT 5)  -->
<!-- 		AS A ORDER BY weight_id ASC; -->
	</select>

</mapper>