@charset "UTF-8";

/* ページャーリンク無効 */
.noevent {
	pointer-events: none;
}

.info, .user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user_icon {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow:hidden;
  margin-right: 20px;
}
.user_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
  object-fit: cover;
}
.user_name {
    font-size: 3rem;
    margin-right: 1rem;
}