<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link
	href="https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap"
	rel="stylesheet" />

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
	<header>
		<div class="inner">
			<h1>
				<a th:href="@{/ }" class="logo"><img th:src="@{/images/ttl_logo.png}"></a>
			</h1>
			<nav class="navigation">
				<ul role='list'>
					<li><a th:href="@{/ }">トップに戻る</a></li>
					<li><a th:href="@{/user/register}">新規会員登録</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
	<div class="inner">
		<h2><span class="font-en">Login</span><br>ログイン</h2>
		<form action="" method="post" th:object="${user}">
			<p th:errors="*{loginId}"></p>
			<p>
				<span>ログインID:</span><input type="text" th:field="*{loginId}" />
			</p>
			<p th:errors="*{loginPass}"></p>
			<p>
				<span>パスワード:</span><input type="password" th:field="*{loginPass}" />
			</p>
			<p>
				<input type="submit" value="ログイン" />
			</p>
		</form>
	</div>
	</main>


	<footer>
		<small>Copyright 2024 TRECORD</small>
	</footer>
</body>
</html>