<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Page</title>
</head>
<body>

	<h1>MY PAGE</h1>
	<a th:href="@{/user/setting/{id}(id=${session.user.userId})}">設定</a>
	<a th:href="@{/user/logout}">ログアウト</a>
	<h2>記録をする</h2>
	
	
	<h2>記録を見る</h2>

	<h3>All ALUBUM</h3>
	<th:block th:each="image : ${imgList}">
		<a th:href="@{/show/{id}(id=${image.imgId})}"> <img
			th:src="@{/uploads/{name}(name=${image.imgName})}" alt="" />
		</a>
		<p th:text="${#temporals.format(image.date,'yyyy年MM月dd日(E)')}"></p>


	</th:block>


</body>
</html>