<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>My Page</title>

<style>
img {
	width: 25%;
}

ul {
	width: 70%;
	display: flex;
	list-style: none;
}

a {
	display: block;
	text-decoration: none;
}

/* リンク無効 */
.noevent {
	pointer-events: none;
}
</style>

<link
	href="https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/reset.css}">

</head>
<body>

	<h1>MY PAGE</h1>
	<a th:href="@{/user/setting/{id}(id=${session.user.userId})}">設定</a>
	<a th:href="@{/user/logout}">ログアウト</a>
	<h2>
		<a th:href="@{/record}">記録をする</a>
	</h2>


	<h2>記録を見る</h2>
	
	<!-- 	体重・BMI表示 -->
	<th:block th:object="${weightBmi}">	
		<table border="1">
			<tr><th>日付</th><td>[[*{date}]]</td></tr>
			<tr><th>体重</th><td>[[*{userWeight}]]</td></tr>
			<tr><th>BMI</th><td>[[*{bmi}]]</td></tr>
			<tr><th>適正体重</th><td>[[*{healthyWeight}]]</td></tr>
		</table>
	</th:block>


	<h3>All ALUBUM</h3>
	<th:block th:each="image : ${imgList}">
		<a th:href="@{/show/{date}(date=${#dates.format(image.date,'yyyy-MM-dd')})}"> <img
			th:src="@{/uploads/{name}(name=${image.imgName})}" alt="" />
		</a>
		<p th:text="${#dates.format(image.date,'yyyy年MM月dd日')}"></p>


</th:block>


		<!-- ページネーション、ページャー -->
		<div th:if="${totalPage >= 2}">
			<ul>
				<!-- 前のページリンク -->
				<th:block th:switch="${page}">
					<li th:case="1"><a href="" class="noevent">Prev</a></li>
					<li th:case="*"><a th:href="@{/mypage(page=${page-1})}">Prev</a>
					</li>
				</th:block>
				<!-- ページ番号 -->
				<th:block th:each="index:${#numbers.sequence(1,totalPage)}">
					<th:block th:switch="${index}">
						<li th:case="${page}"><a href="" class="noevent">[[${index}]]</a></li>
						<li th:case="*"><a th:href="@{/mypage(page=${index})}">[[${index}]]</a></li>
					</th:block>
				</th:block>
				<!-- 次のページリンク -->
				<th:block th:switch="${page}">
					<li th:case="${totalPage}"><a href="" class="noevent">Next</a>
					</li>
					<li th:case="*"><a th:href="@{/mypage(page=${page+1})}">Next</a>
					</li>
				</th:block>
			</ul>
		</div>
	<footer>
		<small>Copyright 2024 TRECORD</small>
	</footer>

</body>
</html>