<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>設定変更</title>
<link
	href="https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
	<header>
		<div class="inner">
			<h1>
				<a th:href="@{/ }" class="logo"><img
					th:src="@{/images/ttl_logo.png}"></a>
			</h1>
			<nav class="navigation">
				<ul role='list'>
					<li><a th:href="@{/ }">トップに戻る</a></li>
					<li><a th:href="@{/mypage}">マイページ</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
	<div class="inner">
		<h2>
			<span class="font-en">User Information</span><br>ユーザー情報
		</h2>
		<th:block th:object="${user}">
			<p>ログインID:[[*{loginId}]]</p>
			<p>パスワード:[[*{loginPass}]]</p>
			<p>身長:[[*{userHeight}]]</p>
			<p class="user-image">
				<img th:if="${session.user.fileName != null}"
					th:src="@{/uploads/{name}(name=${session.user.fileName})}" alt="" />
				<img th:if="${session.user.fileName == null}"
					th:src="@{/images/macho_cat.png}" alt="Default Image" />
			</p>


			<p>
				<a class="setting" th:href="@{/user/edit/{id}(id=*{userId})}">変更</a>
				<a class="setting" th:href="@{/user/delete/{id}(id=*{userId})}">削除</a>

			</p>
		</th:block>

		<p>
			<a class="setting" th:href="@{/mypage}">マイページへ</a>
		</p>
		</div>
	</main>

	<footer>
		<small>Copyright 2024 TRECORD</small>
	</footer>
</body>
</html>