<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細内容閲覧</title>
<style>
img {
	width: 25%;
}
</style>

</head>
<body>

	<h1>トレーニング内容</h1>
	
<!-- 	画像表示 -->
<th:block th:each="image : ${imageList}">
	<img th:src="@{/uploads/{name}(name=${image.imgName})}" alt="" />
	<p th:text="${#dates.format(image.date,'yyyy年MM月dd日')}"></p>
<br />
	<a th:href="@{/edit/{date}(date=${#dates.format(image.date,'yyyy-MM-dd')})}">編集</a>
	<a th:href="@{/delete/{date}(date=${#dates.format(image.date,'yyyy-MM-dd')})}">削除</a>
	</th:block>
	
	
<!-- 	筋トレ記録表示 -->
	
	
	

	<p>
		<a th:href="@{/mypage}">My Pageへ</a>
	</p>
  
</body>
</html>