<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細内容閲覧</title>
<link
	href="https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css">
<link rel="stylesheet" th:href="@{/css/reset.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<style>
img {
	width: 25%;
}
</style>

</head>
<body>
<header>
		<div class="inner">
			<h1>
				<a th:href="@{/ }" class="logo"><img
					th:src="@{/images/ttl_logo.png}"></a>
			</h1>
			<nav class="navigation">
				<ul role='list'>
					<li><a th:href="@{/mypage}">マイページ</a></li>
					<li><a th:href="@{/user/logout}">ログアウト</a></li>
				</ul>
			</nav>
		</div>
	</header>
<main>
		<h2>
			<span class="font-en">Detail</span><br>トレーニング内容
		</h2>
	
<!-- 	画像表示 -->
	<th:block th:each="image : ${imageList}">
		<p th:text="${#dates.format(image.date,'yyyy年MM月dd日')}"></p>
		<img th:src="@{/uploads/{name}(name=${image.imgName})}" alt="" />
		<p><a th:href="@{/edit/{id}(id=${image.imgId})}">写真編集</a></p>
		<p><a th:href="@{/delete/{id}(id=${image.imgId})}">写真削除</a></p>
	</th:block>
	
	
<!-- 	筋トレ記録表示 -->
	<th:block th:each="machineSC, status : ${machineSetCount}" th:object="${machineSC}">
		<p>------------- 本日[[${status.count}]]回目の記録 --------------</p>
			<table border="1">
				<tr><th>日付</th><td>[[*{date}]]</td></tr>
				<tr><th>筋トレマシン名</th><td>[[*{machineName}]]</td></tr>
				<tr><th>重量</th><td>[[*{machineWeight}]] kg</td></tr>
				<tr><th>1セットあたりの回数</th><td>[[*{machineCount}]] 回</td></tr>
				<tr><th>セット数</th><td>[[*{sets}]] セット</td></tr>
			</table>
	</th:block>	
	
	
	
	</main>
  <footer>
		<small>Copyright 2024 TRECORD</small>
	</footer>
</body>
</html>